/* for calendars */
.calendar.month a {
	padding-bottom: 60px;
	padding-right: 20px;
	text-decoration: none;
	border: none;
}
.calendar.month a:hover {
	color: black;
	text-decoration: underline;
}
.calendar-title,.calendar-form {
	/* font-family: helvetica,arial,sans-serif; */
}
.calendar-title {
	text-align: center;
}
.calendar-form a {
	color: black;
	text-decoration: none;
	border: none;
}
.calendar-form a:hover {
	text-decoration: underline;
	border: none;
}
.calendar-title {
	font-size: large;
	margin-bottom: 10px;
	border: 1px black solid;
	width: 750px;
}
.calendar-form {
	margin-left: 75px;
}
.calendar {
	font-family: inherit;
	font-size: small;
	height: 634px;
	width: 750px;
}
.calendar.month {
	background: #AFB3BB;
	height: 100px;
	width: 97px;
	float: left;
	border: 1px black solid;
	margin: 2px;
	padding-left: 3px;
	overflow: hidden;
}
.calendar.month.dom {
	background: #FFF;
}
.calendar.month.dom:hover, 
.calendar.month.weekend.dom:hover,
.calendar.month.selected.dom:hover {
	background: #82F1E2;
}
.calendar.month.weekend.dom {
	background: #F0F0F0;
}
.calendar.month.selected.dom {
	background: #E79AF0;
}
.calendar.month.eow {
	width: 0;
	border: 0;
	clear: both;
}

