@charset "utf-8";
/* CSS Document */

#bod {background-color:#FFFFFF;
		color:#000000;}

#header { 	position:relative; 
			margin:0px;
			
			}		

#companyname {
	background-color:#dc0a0a;
	width:35%;
	height: 70px;
	padding:10px;
	position:absolute;
	text-align:center;
	top:0px;
	left: 0px;
	border-bottom-style:solid;
	border-bottom-width:thick;
	border-bottom-color:#999999;
	z-index:2;
	
		 
				}

.login_input {	position:absolute;
				top: 0px; right: 0px;
				background-color:#333333;
				width:65%; 
				height:70px; 
				padding:10px;
				font-family:Arial, Helvetica, sans-serif; 
				color: #000000;
				border-bottom-style:solid;
				border-bottom-width:thick;
				border-bottom-color:#999999;
				z-index:1;
			
				}
				
				

				
.login_input #login_button1 { border: 1px solid #006; position:absolute; right:105px; top: 12px; border:none; background-color:#333333; font-weight:bold; font-size:11px; width:50px;}
.login_input #login_button1:hover { border: 1px solid #006; position:absolute; right:105px; top: 12px; border:none; background-color:#333333; color:#FFFFFF; font-weight:bold; width:50px;}
 
.login_input #login_button2 { border: 1px solid #006; position:absolute; right:40px; top: 12px; border:none; background-color:#333333; font-weight:bold; font-size:11px; width:50px;} 
.login_input #login_button2:hover { border: 1px solid #006; position:absolute; right:40px; top: 12px; border:none; background-color:#333333; color:#FFFFFF; font-weight:bold; width:50px;} 

.login_input #input_box1 {position:absolute; width:250px;	right: 20px; bottom: 35px;} 
.login_input #input_box2 {position:absolute; width:250px;	right: 20px; bottom: 12px;}
.login_input #ename {position:absolute;	right: 280px; bottom:33px; color:#FFFFFF; font-weight:bold; font-size:12px;}
.login_input #pname {position:absolute;	right: 280px; bottom:12px; color:#FFFFFF; font-weight:bold; font-size:12px;}
.login_input #spacer {position:absolute; right: 99px; top: 8px;}

#page_title {
		position:relative;
		top:160px;
		/*left:210px;*/
		left:15%;
		color:#2e8be9;
		font-size:60px;
		font-family:Arial, Helvetica, sans-serif;
		
		}
#label {
		position:relative;
		top:180px;
		left:25%;
		font-family:Arial, Helvetica, sans-serif;
		color:#000000;
		font-size:16px;
		font-weight:bold;
		}

#label .radiobtn{
			position:relative;
			left:115px;		
				}


#label #signup_input1 {
				position:absolute;
				top:68px;
				left:105px;
				width:300px;
				}

#label #signup_input2 {
				position:absolute;
				top:108px;
				width:300px;
				left:105px;
				}

#label #signup_input3 {
				position:absolute;
				top:160px;
				width:300px;
				left:105px;
				}
								

#label #sub_btn {
				position:absolute;
				left:125px;
				width:120px;
				height:30px;
				background: url('sbtnblue.jpg') no-repeat;
				border:none;
				
				}
#label #sub_btn:hover 	{
						background: url('sbtnwhite.jpg') no-repeat;
						}				

#label #reset_btn {
				position:absolute;
				left:275px;
				width:100px;
				height:23px;
				width:120px;
				height:30px;
				background: url('rbtnblue.jpg') no-repeat;
				border:none;
				border: none;
				}				
#label #reset_btn:hover 	{
						background: url('rbtnwhite.jpg') no-repeat;
						}					
				


.signup_pg2_label 	{
					font-size:24px;
					position:relative;
					font-family:Arial, Helvetica, sans-serif;
					
					
					}


.signup_pg2_label #org_info {
							position:relative;
							top:155px;
							left:275px;
							}
							
							
							
.signup_pg2_label .input_fld	{
								position:relative;
								top:160px;
								left:295px;
								font-size:16px;
								font-weight:bold; 
								
								}
							
.signup_pg2_label #org_name {
							position:relative;
							top:0px;
							left:8px;
							width:260px;
							}							
							
.signup_pg2_label #org_address 	{
								position:relative;
								top:0px;
								left:90px;			
								width:260px;
								}
								
.signup_pg2_label #org_phnum	{
								position:relative;
								top:0px;
								left:40px;	
								width:260px;		
								}						
							
							
							
							
.signup_pg2_label #cnt_lname {
							position:relative;
							top:0px;
							left:75px;
							width:260px;	
							}	
							
.signup_pg2_label #cnt_fname {
							position:relative;
							top:0px;
							left:75px;
							width:260px;	
							}														

.signup_pg2_label #cnt_phnum {
							position:relative;
							top:0px;
							left:42px;
							width:260px;	
							}		

#sub_btn2 {
				position:relative;
				left:175px;
				top:0px;
				width:120px;
				height:30px;
				background: url('sbtnblue.jpg') no-repeat;
				border:none;
				
				}
																
#sub_btn2:hover {
				background: url('sbtnwhite.jpg') no-repeat;
											
				}			
							
#reset_btn2 {
				position:relative;
				left:175px;
				top:0px;
				width:120px;
				height:30px;
				background: url('rbtnblue.jpg') no-repeat;
				border:none;
				
				}	
				
#reset_btn2:hover {
				background: url('rbtnwhite.jpg') no-repeat;

			}				